<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="">
                <h1>Nuestros álbumes</h1>
                <br>
                <br>
                <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel *ngFor="let secciones of home.secciones" class="bg-info "
                               title="{{secciones.titulo}}">
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div *ngFor="let imgs of secciones.imagen" style="padding-left: 40px">
                                    <div class="card prueba" (click)="open(content,'assets/images/galeria/img/'+imgs)">
                                        <img class="img-rounded img-responsive" height="260px" width="370px"
                                             src="assets/images/galeria/img/{{imgs}}"
                                             alt="{{imgs}}">
                                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                                            <p class="text"><i class="fas fa-eye fa-3x"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-body text-right">
        <button type="button" class="close boton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <img class="img-rounded img-responsive img-responsive-modal" [src]="modalStyle">
    </div>
</ng-template>
