
.img-fluid {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.light-blue-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100% !important;
  height: 100% !important;
  background-color: #000;
}

.card:hover {
  height: auto;
  visibility: visible;
  opacity: 10;
  text-decoration: none;
}

.prueba:hover p {
  filter: brightness(100%) opacity(100%);
  transition: all .5s ease-in-out;
  color: rgb(255, 255, 255);
  visibility: visible;
  font-size: 18px;
}

.prueba:hover {
  filter: brightness(50%) opacity(100%);
  transition: all .1s ease-in-out;
  visibility: visible;

}

@media only screen and (min-width: 768px) {
  .img1 {
    height: 800px;
  }
  .img2 {
    height: 390px;
  }
  .img2 {
    height: 390px;
  }
  .img2 {
    height: 390px;
  }
  .img2 {
    height: 390px;
  }
  .img2 {
    height: 390px;
  }
  .img2 {
    height: 390px;
  }
}

.text {
  color: rgb(255, 255, 255);
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  visibility: hidden;

}

h4 {
  color: rgb(255, 255, 255);
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.display-4 {
  color: rgb(255, 255, 255);
  font-family: 'castellar', sans-serif;
}

.lead {
  color: antiquewhite;
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.modal-body {

  padding: 0 !important;
}

.boton {
  color: #FFFFFF;
  float: right;
  position: absolute;
  left: 777px;
}

.close {
  font-size: 2.5rem !important;
  opacity: 1;
}


.img-responsive-modal {
  height: 650px;
  width: 850px
}


@media only screen and (max-width: 991px) {
  .boton {
    color: #FFFFFF;
    float: right;
    position: absolute;
    left: 472px;
  }

  .img-responsive-modal {
    height: 480px;
    width: 950px
  }

}

@media only screen and (max-width: 767px) {
  .boton {
    color: #FFFFFF;
    float: right;
    position: absolute;
    left: 0;
  }
  .img-responsive-modal {
    height: 480px;
    width: 950px
  }

}
@media only screen and (max-width: 1600px) and (min-width: 900px) {
/*body*/
body{
  margin: auto;
}

/*Wrapper*/
.wrapper {
  padding-top: 2%;
}
/*Parte del texto*/
.section {
  padding: 0;
  position: relative;
  background-color: #FFFFFF;
}
.section 
    h2{
    color: #212529;
    text-shadow: 7px 4px 5px #000;
}
.main-timeline .timeline-content{
  width: 60%;
  padding: 5px 50px 20px 20px;
  float: right;
  text-align: justify;
  text-justify: inter-word;
  color: #212529;
}

.text-left {
  text-align: justify!important;
  margin: 5%;
  width: auto;
}

h1{
  text-align: center;
  color: #212529;
  text-shadow: 7px 4px 5px #000;
}
}
