@media only screen and (max-width: 1600px) and (min-width: 900px) {
/*Wrapper*/
.wrapper {
    padding-top: 0;
}
/*Parte del texto*/
.section {
    padding: 0;
    position: relative;
    background-color: white;
    white-space: normal;
} 
.main-timeline .timeline-content {
    width: 60%;
    padding: 0 40px 20px 20px;
    float: right;
}
  
.text-left {
    text-align: justify!important;
    margin: 5%;
    width: auto;
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}
  
h2{
    color: #FF7043;
    font-weight: bold;  
}
/*parte de la imagen*/
.main-timeline .timeline {
    margin-bottom: 1%;
    position: relative;
}
.main-timeline .date-content {
    width: 40%;
    float: left;
    margin-top: 6%;
    position: relative;
}
.img-rounded {
    border-radius: 30px;
    transition: opacity 0.5s ease 0s;
    max-width: 100%;
}
/*parte donde se continen las imagenes de los recursos*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 25px;
    margin-left: 25px;
    flex-direction: column;
}
/*Parte del Boton*/
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(0 0 0 / 19%);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
}
/*Responsive para celulares*/
@media only screen and (max-width: 900px) and (min-width: 320px) {
.row
    img{
        width: 300px;
        height: 300px;
}
/*Wrapper*/
.wrapper {
    padding-top: 6%;
}
/*Parte del texto*/
.section {
    padding: 0;
    position: relative;
    background-color: white;
    white-space: normal;
} 
.text-left {
    text-align: justify!important;
    margin: auto;
    width: auto;
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}
  
h2{
    color: #FF7043;
    font-weight: bold;  
}
.main-timeline .timeline-content{

    float: right;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}

}