<div class="wrapper">
    <div class="main">
        <ng-container >
            <div class="section" >
                <div class=" text-center">
                    <div class="tim-title">
                        <hr color="blue" size=5>
                        <h2></h2>
                        <br>
                            <div class="timeline-content">
                                <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
                                    <ngb-panel  class="bg-info "
                                               title="RECURSOS DESCARGABLES">
                                        <ng-template ngbPanelContent>
                                            <div class="row">
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso1.jpg" download><img src="assets/images/recursos/recurso1.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso2.jpg" download><img src="assets/images/recursos/recurso2.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso3.jpg" download><img src="assets/images/recursos/recurso3.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso4.jpg" download><img src="assets/images/recursos/recurso4.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso5.jpg" download><img src="assets/images/recursos/recurso5.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso6.jpg" download><img src="assets/images/recursos/recurso6.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                                <div  style="padding-left: 40px">
                                                    <div class="card prueba">
                                                        <a href="assets/images/recursos/recurso7.jpg" download><img src="assets/images/recursos/recurso7.jpg" alt="imagen de ejemplo" height="500" width="500"/></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
        </ng-container>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-body text-right">
        <button type="button" class="close boton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        <img class="img-rounded img-responsive img-responsive-modal" [src]="modalStyle">
    </div>
</ng-template>
