<div class="wrapper">
    <div class="main">
        <ng-container >
            <div class="section" >
                <div class=" text-center">
                    <div class="tim-title">
                        <hr color="blue" size=5>
                        <h2>TRANSPARENCIA INSTITUCIONAL</h2>
                        <div class="timeline-content">
                            <br>
                            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                                <ngb-panel  class="bg-info"
                                            title="RENDICIÓN DE CUENTAS 2014">
                                    <ng-template ngbPanelContent>
                                        <embed src="assets/pdf/rendicion2014.pdf" type="application/pdf" width="100%" height="600px" />
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel  class="bg-info"
                                            title="RENDICIÓN DE CUENTAS 2015">
                                    <ng-template ngbPanelContent>
                                        <embed src="assets/pdf/rendicion2015.pdf" type="application/pdf" width="100%" height="600px" />
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel  class="bg-info"
                                            title="RENDICIÓN DE CUENTAS 2016">
                                    <ng-template ngbPanelContent>
                                        <embed src="assets/pdf/rendicion2016.pdf" type="application/pdf" width="100%" height="600px" />
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel  class="bg-info"
                                            title="RENDICIÓN DE CUENTAS 2017">
                                    <ng-template ngbPanelContent>
                                        <embed src="assets/pdf/2017rendicion%20de%20cuentas.pdf" type="application/pdf" width="100%" height="600px" />
                                    </ng-template>
                                </ngb-panel>
                                <ngb-panel  class="bg-info"
                                            title="RENDICIÓN DE CUENTAS 2018">
                                    <ng-template ngbPanelContent>
                                        <embed src="assets/pdf/Rendicion2018.pdf" type="application/pdf" width="100%" height="600px" />
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
