@media only screen and (max-width: 1600px) and (min-width: 900px) {
/*Wrapper*/
.wrapper {
    padding-top: 0;
}
  /*Parte del texto*/
.tim-title {
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 2%;
}
.section {
    padding: 0;
    position: relative;
    background-color: white;
    white-space: normal;
  } 
h2{
      color: #FF7043;
      font-weight: bold;
}
.main-timeline .timeline-content{
    width: 60%;
    padding: 50px 50px 20px 20px;
    float: right;
}
  
.text-left {
    text-align: justify!important;
    margin: 4%;
    width: auto;
}

  
h3{
    text-align: center;
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}
h4{
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}
/*parte de la imagen*/
.main-timeline .timeline {
    margin-bottom: 2%;
    position: relative;
}

.img-rounded {
    border-radius: 30px;
    transition: opacity 0.5s ease 0s;
    max-width: 100%;
}
.main-timeline .date-content {
    width: 40%;
    float: left;
    margin-top: 50px;
    position: relative;
}

}
/*Responsive para celulares*/
@media only screen and (max-width: 900px) and (min-width: 320px) {
/*Wrapper*/
.wrapper {
    padding-top: 6%;
}
  /*Parte del texto*/
.section {
    padding: 0;
    position: relative;
    background-color: white;
    white-space: normal;
} 
h2{
      color: #FF7043;
      font-weight: bold;
}
.main-timeline .timeline-content{
    float: right;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}
  
.text-left {
    text-align: justify!important;
    margin: auto;
    width: auto;
}
h3{
    color: #FF7043;
    font-weight: bold;
}
h4{
    font-family: Arial, Helvetica, serif;
    font-weight: 300;
    color: #1A237E ;
}
}

