<div class="wrapper">
    <div class="main">
        <div class="section">

            <ng-container *ngFor="let secciones of escuela.secciones">
                <div class="section" style="background-color: white" *ngIf="!secciones.timeline">
                    <div class=" text-center">
                        <div class="tim-title">
                            <div class="col" *ngFor="let secciones of escuela.secciones">
                                <div class="tim-title">
                                    <h2>{{secciones.titulo}}</h2>
                                </div>
                                <h4 class="text-left contenido">{{secciones.contenido}}</h4>
                                <br>
                                <div class="row" *ngIf="secciones.imagen">
                                    <div class="col" *ngFor="let img of secciones.imagen">
                                        <img class="img-rounded img-responsive" width="450" height="300"
                                            src="assets/images/nosotros/escuela/{{img}}" alt="{{img}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>