@media only screen and (max-width: 1600px) and (min-width: 900px) {
/*body*/
body{
    margin: auto;
}
  
  /*Wrapper*/
.wrapper {
    padding-top: 2.5%;
}
  /*Parte del texto*/
.section {
    padding: 0;
    position: relative;
    background-color: #FFFFFF;
}
 
h1{
    color: #212529;
    text-shadow: 7px 4px 5px #000;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.text-left {
    text-align: justify!important;
}
  
h4{
    text-align: justify;
    color: #212529;  
}
}
/*Responsive para celulares*/
@media only screen and (max-width: 900px) and (min-width: 320px) {
    /*body*/
body{
    margin: auto;
}
  
  /*Wrapper*/
.wrapper {
    padding-top: 2.5%;
}
  /*Parte del texto*/
.section {
    padding: 0;
    position: relative;
    background-color: #FFFFFF;
}
 
h1{
    color: #212529;
    text-shadow: 7px 4px 5px #000;
}
.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.text-left {
    text-align: justify!important;
}
  
h4{
    text-align: justify;
    color: #212529;  
}
}