<div class="wrapper">
    <div class="main">
        <div class="section">
            <div class="">
                <div class="main-timeline">
                    <div *ngFor="let seccion of home.secciones" class="timeline">
                        <ng-container *ngIf="seccion.timeline">
                            <div class="date-content">
                                <img class="img-rounded img-responsive" height="450px" width="700px"
                                     src="assets/images/education/{{seccion.imagen}}"
                                     alt="New York">
                            </div>
                            <div class="timeline-content">
                                <h2 class="">{{seccion.titulo}}</h2>
                                <h4 class="text-left contenido" *ngIf="seccion.subseccion.length==0">{{seccion.contenido|validatetext}}</h4>
                                <ngb-accordion *ngIf="seccion.subseccion.length>0" [closeOthers]="true"
                                               #acc="ngbAccordion">
                                    <ngb-panel *ngFor="let subseccion of seccion.subseccion" class="bg-info"
                                               title="{{subseccion.titulo}}">
                                        <ng-template ngbPanelContent>
                                            <h5 class="text-left contenido">{{subseccion.contenido|validatetext}}</h5>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
